name: 05 Filters Activity Type
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show Filter Trigga
        run: echo "${{ github.event_name }} - ${{ github.event.action }}"
